:root {
  /* Global Color Palette */
  --off-white: #f1efef;
  --dark-grey: #333533;
  --mid-grey: #858685;
  --mustard: #f5cb5c;
  --pale-yellow: #f9e09d;
}

* {
  margin: 0px;
  /* border: 2px solid pink; */
  box-sizing: border-box;
}

/* * + * {
  border-top: 2px solid pink;
} */

.App {
  text-align: center;
}

.commentsHeader {
  max-width: 80%;
  padding: 20px;
  margin: 10px auto 0;
  border-radius: 15px 15px 0 0;
  background-color: var(--pale-yellow);
}

.commentsBody {
  max-width: 80%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;
  background-color: var(--off-white);
}

.commentEntry {
  resize: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border: none;
  height: 100%;
  margin: -10px;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 3px solid var(--mustard);
  background-color: var(--pale-yellow);
  color: var(--dark-grey);
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.1ch;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.comment-btn {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 3px solid var(--mustard);
  background-color: var(--pale-yellow);
  color: var(--dark-grey);
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.1ch;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.mod-comment-btn {
  font-size: 0.5rem;
  font-weight: bold;
  margin: 10px;
  padding: 0.25rem 1.5rem;
  border-radius: 5px;
  border: 3px solid var(--mustard);
  background-color: var(--pale-yellow);
  color: var(--dark-grey);
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.1ch;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.textarea-label {
  display: block;
  border: 3px solid var(--pale-yellow);
  border-radius: 5px;
  margin: 10px 0;
  /* padding: 10px; */
  /* border, padding, and other styles go here,
  don't set the height, and don't use floats or positioning */
}

.textarea-label textarea {
  border: 0 none;
  border-radius: 5px;
  margin: 0;
  outline: 0 none;
  padding: 25px;
  width: 100%;
  resize: vertical;
}

/* comments carousel */

#project-carousel {
  margin: 5px auto 10px;
  padding: 4px;
  width: 100%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  display: inline-block;
  font-size: 1rem;

  border-radius: 5px;
  border: 3px solid var(--mustard);
  background-color: var(--pale-yellow);
  color: var(--dark-grey);
  vertical-align: middle;
  letter-spacing: 0.1ch;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.comment-card-head {
  background-color: var(--mid-grey);
  color: var(--off-white);
  width: 90%;
  height: auto;
  padding: 15px;
  /* height: 400px; */
  border-radius: 5px 5px 0 0;
  margin: 1rem auto 0 auto;
  flex: 0 0 auto;

  flex-flow: row;
  height: auto;
  min-width: 75%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-box-align: stretch; /* Try this above! */
  align-items: stretch; /* Try this above! */
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.comment-card-head > * {
  vertical-align: middle;
  margin: auto;
}

.comment-card-body {
  background-color: var(--off-white);
  width: 90%;
  height: auto;
  min-height: 100px;
  padding: 0.5rem 3rem;
  /* height: 400px; */
  border-radius: 0 0 5px 5px;
  margin: 0 auto 1rem auto;
  flex: 0 0 auto;
  text-align: center;
}

/* comments carousel ends */

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: auto;
}

.card {
  border: 1px solid;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  text-transform: capitalize;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.articleTitle {
  margin: 50px auto 0;
  max-width: 80%;
  padding: 15px;
  border-radius: 15px 15px 0 0;
  background-color: var(--mustard);
}

.articleBody {
  margin: 0 auto;
  max-width: 80%;
  padding: 15px 25px 15px 25px;
  background-color: var(--off-white);
}

/* .articleBody > p {
  justify-content: left;
} */

.credentials {
  margin: 0 auto;
  max-width: 80%;
  padding: 15px;
  background-color: var(--mid-grey);
  color: var(--off-white);
  border-radius: 0 0 15px 15px;

  flex-flow: row;
  height: auto;
  z-index: 1;
  min-width: 75%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: pointer;
  display: flex;
  -webkit-box-align: stretch; /* Try this above! */
  align-items: stretch; /* Try this above! */
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem;
}
