/* * {
  margin: 0px;
  border: 2px solid pink;
  box-sizing: border-box;
} */

.App {
  text-align: center;
}

.articleComments {
  padding-top: 20px;
}

/* .btn {
  margin: 10px 0px;
} */

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: auto;
}

.card {
  border: 1px solid;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  text-transform: capitalize;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}
